<div style="text-align:center">
  <!-- <p>token is valid? true/false - {{ token | json }}</p> -->


  <mat-toolbar>
    <a href="http://www.raleighnc.gov/">
      <img alt="City of Raleigh Logo" class="logo" src="./assets/Raleigh-Logo-Horiz-white.png">
    </a>
    <h1>Solid Waste Services Missed Pickup</h1>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog('help')">
      <mat-icon>help</mat-icon>
      <span>Need Help?</span>
    </button>
  </mat-menu>

  <ng-container>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>What was missed?</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]='usersForm' novalidate
          (ngSubmit)="save(usersForm.value, usersForm.valid)">
          <mat-button-toggle-group name="collectionTypes" formControlName="problemSid">
            <mat-button-toggle *ngFor="let problemSid of problemSids" [value]="problemSid.value" required>
              {{problemSid.display}}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-error *ngIf="usersForm.controls.problemSid.hasError">
            Please select one
          </mat-error>
          <div *ngIf="usersForm.controls.problemSid.value == '263551'">
            <p>
              <br />View more information on <a
                href="http://www.raleighnc.gov/home/content/SolidWaste/Articles/GarbagePreparation.html"
                target="_blank">Garbage
                Preparation.</a>
            </p>
          </div>
          <div *ngIf="usersForm.controls.problemSid.value == '263552'">
            <p>
              <br />View more information on <a
                href="http://www.raleighnc.gov/home/content/SolidWaste/Articles/RecyclePages.html"
                target="_blank">Recycling
                Preparation.</a>
            </p>
          </div>
          <div *ngIf="usersForm.controls.problemSid.value == '263553'">
            <p>
              <br />View more information on <a
                href="http://www.raleighnc.gov/home/content/SolidWaste/Articles/GarbagePreparation.html"
                target="_blank">Yard
                Waste Preparation</a>
            </p>
          </div>
          <h3>Enter the Address of the Missed Pickup Location</h3>

          <mat-form-field class="example-full-width">
            <input matInput class="wider" placeholder="Enter your address" [matAutocomplete]="auto"
              formControlName='addressInput'>
          </mat-form-field>
          <!-- <span>Your choice is: {{usersForm.get('addressInput').value | json}}</span> -->
          <p><span *ngIf="recycleDay">Your Trash and Recycle Collection Day is {{ recycleDay[0].attributes.DAY }}</span>
          </p>
          <!-- <p><span>GeoResponse is: {{ geoResponse | json }}</span></p> -->
          <!-- <p><span>Coordinates is: {{ location | json }}</span></p> -->

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngIf="isLoading" class="is-loading">
              <mat-spinner diameter="40"></mat-spinner>
            </mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let address of filteredAddresses" [value]="address">
                <span>{{ address.address }}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
          <p>
            <mat-form-field class="wide"
              hintLabel='Email is optional: Enter your email to recieve updates on your request'>
              <input matInput type="text" formControlName="callerEmail" placeholder="Email Address">
              <mat-error *ngIf="usersForm.controls.callerEmail.hasError">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </p>
          <mat-form-field class="wide">
            <input matInput placeholder="Enter your phone number" formControlName='callerHomePhone'>
            <mat-error *ngIf="usersForm.controls.callerHomePhone.hasError('pattern')">
              Please enter a valid phone number
            </mat-error>
            <mat-error *ngIf="usersForm.controls.callerHomePhone.hasError('required')">
              Phone number is required
            </mat-error>
          </mat-form-field>
          <p>
            <mat-form-field class="wide">
              <textarea matInput type="text" class="wide" formControlName="comments" placeholder="Comments"></textarea>
            </mat-form-field>
          </p>
        </form>
        <mat-progress-bar *ngIf="!isDone && submitted && !displayHttpError" class="app-progress" mode="indeterminate"
          aria-label="Indeterminate progress-bar example"></mat-progress-bar>
        <div>
          {{displayHttpError}}
        </div>
      </mat-card-content>

      <mat-card-actions style="margin:0 auto;" class="map-mat-card">
        <form class="map-mat-card" [formGroup]="usersForm" novalidate
          (ngSubmit)="save(usersForm.value, usersForm.valid)">
          <button mat-raised-button color="primary" type="submit" class="btn btn-success"
            [disabled]="!usersForm.valid || isDone">Submit</button>
        </form>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <p>
    Or
  </p>
  <mat-card>
    <mat-card-content class="map-mat-card">
      <form [formGroup]="subForm" novalidate (ngSubmit)="checkSRStatus()">
        <h3>Check status of an existing Service Request</h3>
        <mat-form-field class="wide" hintLabel='If you have a pending Service Request ID, enter it here'>
          <input matInput type="text" formControlName="srInputId" placeholder="Request ID">
        </mat-form-field>
        <br>
        <br>
        <mat-progress-bar *ngIf="ckSrStatussubmitted && !submitted && srStatus.length < 1 && !srNotFound"
          class="app-progress" mode="indeterminate" aria-label="Indeterminate progress-bar example">
        </mat-progress-bar>
        <p *ngIf="srNotFound">Could not find any Service Requests with that ID.</p>
        <p *ngIf="srStatus != '' && !srNotFound">You Service Request is in '{{srStatus}}' status.</p>
        <div *ngIf="srStatus != 'Completed' && srStatus != '' && srStatus != 'CLOSED'">Your requested item will be
          collected within two business days, not including weekends.</div>

      </form>
    </mat-card-content>
    <!-- <mat-card-actions style="margin:0 auto;" class="map-mat-card"> -->
    <form class="map-mat-card" [formGroup]="subForm" novalidate (ngSubmit)="checkSRStatus()">
      <button mat-raised-button color="primary" type="submit" class="btn btn-success"
        [disabled]="!subForm.valid || submitted">Submit</button>
    </form>
    <!-- </mat-card-actions> -->

  </mat-card>

</div>