<div style="text-align:center">
  <!-- <p>token is valid? true/false - {{ token | json }}</p> -->


  <mat-toolbar>
    <a href="http://www.raleighnc.gov/">
      <img alt="City of Raleigh Logo" class="logo" src="./assets/Raleigh-Logo-Horiz-white.png">
    </a>
    <h1>Solid Waste Services Missed Pickup</h1>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog('help')">
      <mat-icon>help</mat-icon>
      <span>Need Help?</span>
    </button>
  </mat-menu>

  <ng-container>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          What was missed?
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]='usersForm' novalidate
          (ngSubmit)="save(usersForm.value, usersForm.valid)" autocomplete="off">
          <mat-button-toggle-group name="collectionTypes" formControlName="problemSid">
            <mat-button-toggle *ngFor="let problemSid of problemSids" [value]="problemSid.value" required>
              {{problemSid.display}}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-error *ngIf="usersForm.controls.problemSid.hasError('required')">
            Please select a category
          </mat-error>
          <div *ngIf="usersForm.controls.problemSid.value == '263551'">
            <p>
              <br />View more information on <a
                href="http://www.raleighnc.gov/home/content/SolidWaste/Articles/GarbagePreparation.html"
                target="_blank">Garbage
                Preparation.</a>
            </p>
          </div>
          <div *ngIf="usersForm.controls.problemSid.value == '263552'">
            <p>
              <br />View more information on <a
                href="http://www.raleighnc.gov/home/content/SolidWaste/Articles/RecyclePages.html"
                target="_blank">Recycling
                Preparation.</a>
            </p>
          </div>

          <div *ngIf="usersForm.controls.problemSid.value == '263553'">
            <p>
              <br />View more information on <a
                href="http://www.raleighnc.gov/home/content/SolidWaste/Articles/GarbagePreparation.html"
                target="_blank">Yard
                Waste Preparation</a>
            </p>
          </div>
          <h3>Enter the Address of the Missed Pickup Location</h3>

          <mat-form-field class="example-full-width">
            <input matInput class="wider" maxlength="150" placeholder="Enter your address" [matAutocomplete]="auto"
              formControlName='addressInput'>
            <mat-error
              *ngIf="usersForm.controls.addressInput.hasError('required') && (usersForm.get('addressInput').dirty || usersForm.get('addressInput').touched)">
              Please enter an address within Raleigh city limits
            </mat-error>
            <mat-error *ngIf="usersForm.controls.addressInput.hasError('maxlength')">
              Maximum length is 150 characters
            </mat-error>
          </mat-form-field>
          <!-- <span>Your choice is: {{usersForm.get('addressInput').value | json}}</span> -->

          <span *ngIf="day && !addressNotFound">Your
            trash and recycling collection day is {{ day }}. {{isRecyclingWeek}} "{{week}}".</span>

          <p style="color: red;"
            *ngIf="usersForm.controls.problemSid.value == '263552' && isNotRecyclingWeek && day && !addressNotFound">
            You have selected a missed pickup for recycling, but your recycling service is not scheduled
            for this week. Residential recycling is collected every other week. You can continue to
            submit a request if you think your recycling pickup was missed.
          </p>

          <a *ngIf="(week === 'A') && !addressNotFound">
            Download your <a href="http://www.raleighnc.gov/content/SolidWaste/Documents/SWRecyclingCalendarAWeek.pdf"
              target="_blank">recycling calendar</a> for week "A".

          </a>
          <a *ngIf="(week === 'B') && !addressNotFound">
            Download your <a href="http://www.raleighnc.gov/content/SolidWaste/Documents/SWRecyclingCalendarBWeek.pdf"
              target="_blank">recycling calendar</a> for week "B".
          </a>

          <span *ngIf="addressNotFound && day">Your address was not found. You can still continue to submit a service
            request.</span>
          <p>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="40"></mat-spinner>
              </mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let address of filteredAddresses" [value]="address">
                  <span>{{ address.address }}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>

            <mat-form-field class="wide">
              <input matInput type="tel" placeholder="Enter your phone number" formControlName='callerHomePhone'>
              <mat-error *ngIf="usersForm.controls.callerHomePhone.hasError('pattern')">
                Please enter a valid phone number
              </mat-error>
              <mat-error *ngIf="usersForm.controls.callerHomePhone.hasError('required')">
                Phone number is required
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="wide"
              hintLabel='Email is optional: Enter your email to recieve status updates on your request'>
              <input matInput type="email" formControlName="callerEmail" placeholder="Email Address">
              <mat-error
                *ngIf="usersForm.controls.callerEmail.hasError && (usersForm.get('callerEmail').dirty || usersForm.get('callerEmail').touched)">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="wide">
              <textarea matInput type="text" maxlength="375" class="wide" formControlName="comments"
                placeholder="Comments"></textarea>
              <mat-error *ngIf="usersForm.controls.comments.hasError('maxlength')">
                Maximum length is 375 characters
              </mat-error>
            </mat-form-field>
          </p>
        </form>
        <!-- <mat-progress-bar *ngIf="!isDone && submitted && !displayHttpError" class="app-progress" mode="indeterminate" -->
        <mat-progress-bar *ngIf="submitted && !error" class="app-progress" mode="indeterminate"
          aria-label="Indeterminate progress-bar example"></mat-progress-bar>
        <mat-error *ngIf="error">
          There was a problem communicating to the backend server. We are working on correcting the issue. Please try
          your request again later.
        </mat-error>
        <span *ngIf="reqid">Your service request ID is {{reqid}}. Your {{problemSidDisplay}} will be collected
          within two business days, not including weekends. Your container(s) must be at the curb from
          7am to 5pm each day until collected. We apologize for any inconvenience.</span>
      </mat-card-content>
      <mat-card-actions style="margin:0 auto;" class="map-mat-card">
        <form class="map-mat-card" [formGroup]="usersForm" novalidate
          (ngSubmit)="save(usersForm.value, usersForm.valid)">
          <button mat-raised-button color="primary" class="btn btn-success"
            [disabled]="!usersForm.valid || reqid">Submit</button>
        </form>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <p>
    Or
  </p>
  <mat-card>
    <mat-card-content class="map-mat-card">
      <form [formGroup]="subForm" novalidate (ngSubmit)="checkSRStatus()">
        <h3>Check status of an existing Service Request</h3>
        <mat-form-field class="wide" hintLabel='If you have a pending 6 digit Service Request ID, enter it here'>
          <input matInput type="tel" maxlength="6" formControlName="srInputId" placeholder="Request ID">
          <mat-error *ngIf="subForm.controls.srInputId.hasError('maxlength') || subForm.controls.srInputId.hasError('minlength')
            || subForm.controls.srInputId.hasError('required') || subForm.controls.srInputId.hasError('pattern')">
            Please enter a valid 6 digit request id number
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-progress-bar *ngIf="ckSrStatussubmitted && !error" class="app-progress" mode="indeterminate"
          aria-label="Indeterminate progress-bar example">
        </mat-progress-bar>
        <mat-error *ngIf="error">
          There was a problem communicating to the backend server. We are working on correcting the issue. Please try
          your request again later.
        </mat-error>
        <p *ngIf="srNotFound && !srStatus">Could not find any Service Requests with that ID.</p>
        <p *ngIf="srStatus">You Service Request is in '{{srStatus}}' status.</p>
        <div *ngIf="srStatus != 'Completed' && srStatus && srStatus != 'CLOSED' && srStatus != 'Cancelled'">Your
          requested
          item will be
          collected within two business days, not including weekends.</div>
      </form>
    </mat-card-content>
    <form class="map-mat-card" [formGroup]="subForm" novalidate (ngSubmit)="checkSRStatus()">
      <button mat-raised-button color="primary" class="btn btn-success" [disabled]="!subForm.valid">Submit</button>
    </form>
  </mat-card>

</div>